body {
    background-image: url(https://wallpaperaccess.com/full/5088752.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 30px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 120px;
}

.heading {
    margin: 1%;
}

.scrolling-text {
    width: 100px;
    height: auto;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 8px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.color-blue {
    color: #3b44f6;
}

.fa-solid {
    padding: 1%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-brands {
    padding: 1%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-globe:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: darkgray;
}

.fa-discord:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #7289d9;
}

.fa-at:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #c71610;
}

.fa-square-instagram:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #8a3ab9;
}

.fa-linkedin:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #0072b1;
}

.fa-pinterest:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #E60023;
}

.fa-twitter:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #00acee;
}

.fa-spotify:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #1DB954;
}

.fa-square-snapchat:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #FFFC00;
}

.fa-telegram:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #0088CC;
}

.fa-reddit:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #ff4500;
}

.globe:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: darkgray;
}


.youtube:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #FF0000;
}

.discord:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #7289d9;
}

.instagram:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #8a3ab9;
}

.github:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: darkgray;
}

.gdrive:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    color: #3cba54;
}

a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: white;
}

*,
*:before,
*:after {
    border-radius: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.blob-btn {
    width: 470px;
    z-index: 1;
    position: relative;
    padding: 20px 50px;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
    color: lightgrey;
    font-size: 14.5px;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    font-weight: 600;
}

.blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 6px solid whitesmoke;
}

.blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 9px;
    top: 9px;
    width: 100%;
    height: 100%;
    border: 6px solid #756e68;
    transition: all 0.3s 0.2s;
}

.blob-btn:hover {
    color: #222;
}

.blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
}

.blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
}

.blob-btn__blob {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: whitesmoke;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
    .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}

.blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.4);
    }
}

@media (max-width:600px) {

    .blob-btn {
        width: 350px;
    }

    .fa-solid {
        padding: 3%;
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fa-brands {
        padding: 3%;
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container {
        display: inline-block;
        margin-top: 70px;
        margin-bottom: 0px;
    }

}